* {
    /* css reset */

    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;

}

body {

    background-color: #552c03;
    color: white
}

/*-------------------------------------------------------------------------*/

nav {

    border-left: 1000px;
    height: 100px;
    border: 1px solid #000;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 4px 5px 2px #000;

}

nav ul li {


    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav>ul {

    margin-left: 130px;

}

nav>ul>li {

    float: left;
    margin-left: 20px;

}

nav>ul>li>a {

    color: white;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    line-height: 100px;
    border-radius: 5px;
    transition: all, 1s;

}

nav>ul>li>a:hover {

    color: rgb(0, 0, 0);
    background-color: rgba(190, 190, 190, 0.82);
    border-radius: 5px;
    transition: all, 0.6s;

}

nav .ativo {

    color: rgb(216, 216, 216);
    background-color: rgba(0, 0, 0, 0.82);
    border-radius: 5px;

}

/*-------------------------------------------------------------------------*/

#article1 {

    background-color: #8f4801;
    border: 1px solid #fff;
    height: 350px;
    margin: 0 auto;
    margin-top: 200px;
    border-radius: 5px;

}

#sectionsobremim{

    float: right;
    margin-top: 10px;
    width: 650px;
    height: 10px;
    border: 1px solid none;
    margin-right: 10px;
    text-align: justify;
    color: #FFF;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    border-radius: 5px;
    padding: 10px;
    font-size: 20pt;
    margin-bottom: 10px;

}

#section1 {

    float: left;
    margin-top: 10px;
    width: 276px;
    height: 276px;
    border: 1px solid #fff;
    margin-left: 10px;
    border-radius: 5px;
    align-items: center;
    background-image: url(img/Foto.jfif);
    background-size: 280px;
    outline: none;

}

#section2 {

    background-color: #552c03;
    float: right;
    margin-top: 10px;
    width: 870px;
    height: 256px;
    border: 1px solid #fff;
    margin-right: 10px;
    text-align: justify;
    color: #FFF;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    border-radius: 5px;
    padding: 10px;

}

/*-------------------------------------------------------------------------*/

#article2 {

    background-color: #8f4801;
    border: 1px solid #fff;
    height: 445px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;

}

#section3 {

    float: left;
    margin-top: 10px;
    width: 270px;
    height: 180px;
    border: 1px solid #fff;
    margin-left: 10px;
    border-radius: 0px;
    align-items: center;
    background-size: 280px;
    outline: none;
    animation-name: pj2;
    animation: slide2 50s infinite;
    animation-direction: alternate;

}

@keyframes slide2 {

    0%,
    10% {
        background-image: url(img/c++12.png);
    }

    20%,
    30% {
        background-image: url(img/c++11.png);
    }

    40%,
    50% {
        background-image: url(img/c++13.png);
    }

    60%,
    70% {
        background-image: url(img/c++14.png);
    }

    80%,
    90% {
        background-image: url(img/c++15.png);
    }

    100% {
        background-image: url(img/c++16.png);
    }

}

#section5 {

    float: left;
    margin-top: 10px;
    width: 270px;
    height: 180px;
    border: 1px solid #fff;
    margin-left: 10px;
    border-radius: 0px;
    align-items: center;
    background-size: 280px;
    outline: none;
    animation-name: pj1;
    animation: slide1 50s infinite;
    animation-direction: alternate;

}

@keyframes slide1 {

    0%,
    10% {
        background-image: url(img/c++1.png);
    }

    20%,
    30% {
        background-image: url(img/c++2.png);
    }

    40%,
    50% {
        background-image: url(img/c++3.png);
    }

    60%,
    70% {
        background-image: url(img/c++4.png);
    }

    80%,
    90% {
        background-image: url(img/c++5.png);
    }

    100% {
        background-image: url(img/c++7.png);
    }

}

#section4 {

    background-color: #552c03;
    float: right;
    margin-top: 10px;
    width: 870px;
    height: 352px;
    border: 1px solid #fff;
    margin-right: 10px;
    text-align: justify;
    color: #FFF;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    border-radius: 5px;
    padding: 10px;

}

#sectioncplusplus {

    float: right;
    margin-top: 10px;
    width: 650px;
    height: 10px;
    border: 1px solid none;
    margin-right: 10px;
    text-align: justify;
    color: #FFF;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    border-radius: 5px;
    padding: 10px;
    font-size: 20pt;
    margin-bottom: 10px;


}

/*-------------------------------------------------------------------------*/

#article3 {

    background-color: #8f4801;
    border: 1px solid #fff;
    height: 445px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    margin-bottom: 10px;

}

#section6 {

    float: right;
    margin-top: 10px;
    width: 270px;
    height: 180px;
    border: 1px solid #fff;
    margin-right: 10px;
    border-radius: 0px;
    align-items: center;
    background-size: 280px;
    outline: none;
    animation-name: pj4;
    animation: slide4 50s infinite;
    animation-direction: alternate;

}

@keyframes slide4 {

    0%,
    25% {
        background-image: url(img/BD11.png);
    }

    30%,
    50% {
        background-image: url(img/BD12.png);
    }

    55%,
    75% {
        background-image: url(img/BD13.png);
    }

    80%,
    100% {
        background-image: url(img/BD14.png);
        background-repeat: no-repeat;
    }

}

#section8 {

    float: right;
    margin-top: 10px;
    width: 270px;
    height: 180px;
    border: 1px solid #fff;
    margin-right: 10px;
    border-radius: 0px;
    align-items: center;
    background-size: 280px;
    outline: none;
    animation-name: pj3;
    animation: slide3 50s infinite;
    animation-direction: alternate;

}

@keyframes slide3 {

    0%,
    25% {
        background-image: url(img/BD1.png);
    }

    30%,
    50% {
        background-image: url(img/BD2.png);
    }

    55%,
    75% {
        background-image: url(img/BD3.png);
    }

    80%,
    100% {
        background-image: url(img/BD4.png);
    }

}

#section7 {

    background-color: #552c03;
    float: left;
    margin-top: 10px;
    width: 870px;
    height: 352px;
    border: 1px solid #fff;
    margin-left: 10px;
    text-align: justify;
    color: #FFF;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    border-radius: 5px;
    padding: 10px;

}

#sectionBD {

    float: right;
    margin-top: 10px;
    width: 750px;
    height: 10px;
    border: 1px solid none;
    margin-right: 10px;
    text-align: justify;
    color: #FFF;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    border-radius: 5px;
    padding: 10px;
    font-size: 20pt;
    margin-bottom: 10px;

}

/*-------------------------------------------------------------------------*/

#article4 {

    background-color: #8f4801;
    border: 1px solid #fff;
    height: 445px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    margin-bottom: 10px;

}

#section9 {

    float: left;
    margin-top: 10px;
    width: 270px;
    height: 180px;
    border: 1px solid #fff;
    margin-left: 10px;
    border-radius: 0px;
    align-items: center;
    background-size: 280px;
    outline: none;
    animation-name: pj9;
    animation: slide9 50s infinite;
    animation-direction: alternate;

}

@keyframes slide9 {

    0%,
    25% {
        background-image: url(img/csharp1.png);
    }

    30%,
    50% {
        background-image: url(img/csharp2.png);
    }

    55%,
    75% {
        background-image: url(img/csharp3.png);
    }

    80%,
    100% {
        background-image: url(img/csharp4.png);
    }

}

#section10 {

    float: left;
    margin-top: 10px;
    width: 270px;
    height: 180px;
    border: 1px solid #fff;
    margin-left: 10px;
    border-radius: 0px;
    align-items: center;
    background-size: 280px;
    outline: none;
    animation-name: pj5;
    animation: slide5 50s infinite;
    animation-direction: alternate;

}

@keyframes slide5 {

    0%,
    25% {
        background-image: url(img/csharp14.png);
    }

    30%,
    50% {
        background-image: url(img/csharp12.png);
    }

    55%,
    75% {
        background-image: url(img/csharp13.png);
    }

    80%,
    100% {
        background-image: url(img/csharp11.png);
    }

}

#section11 {

    background-color: #552c03;
    float: right;
    margin-top: 10px;
    width: 870px;
    height: 352px;
    border: 1px solid #fff;
    margin-right: 10px;
    text-align: justify;
    color: #FFF;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    border-radius: 5px;
    padding: 10px;

}

#sectioncsharp {

    float: right;
    margin-top: 10px;
    width: 650px;
    height: 10px;
    border: 1px solid none;
    margin-right: 10px;
    text-align: justify;
    color: #FFF;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    border-radius: 5px;
    padding: 10px;
    font-size: 20pt;
    margin-bottom: 10px;


}

/*-------------------------------------------------------------------------*/

#article5 {

    background-color: #8f4801;
    border: 1px solid #fff;
    height: 445px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #FFF;

}

#section12 {

    float: right;
    margin-top: 10px;
    width: 270px;
    height: 180px;
    border: 1px solid #fff;
    margin-right: 10px;
    border-radius: 0px;
    align-items: center;
    background-size: 280px;
    outline: none;
    animation-name: pj4;
    animation: slide12 50s infinite;
    animation-direction: alternate;

}

@keyframes slide12 {

    0%,
    25% {
        background-image: url(img/html1.png);
    }

    30%,
    50% {
        background-image: url(img/html2.png);
    }

    55%,
    75% {
        background-image: url(img/html3.png);
    }

    80%,
    100% {
        background-image: url(img/html4.png);
        background-repeat: no-repeat;
    }

}

#section13 {

    float: right;
    margin-top: 10px;
    width: 270px;
    height: 180px;
    border: 1px solid #fff;
    margin-right: 10px;
    border-radius: 0px;
    align-items: center;
    background-size: 280px;
    outline: none;
    animation-name: pj3;
    animation: slide13 50s infinite;
    animation-direction: alternate;

}

@keyframes slide13 {

    0%,
    25% {
        background-image: url(img/html11.png);
    }

    30%,
    50% {
        background-image: url(img/html12.png);
    }

    55%,
    75% {
        background-image: url(img/html13.png);
    }

    80%,
    100% {
        background-image: url(img/html14.png);
    }

}

#section14 {

    background-color: #552c03;
    float: left;
    margin-top: 10px;
    width: 870px;
    height: 352px;
    border: 1px solid #fff;
    margin-left: 10px;
    text-align: justify;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    border-radius: 5px;
    padding: 10px;

}

#sectionhtml {

    float: right;
    margin-top: 10px;
    width: 650px;
    height: 10px;
    border: 1px solid none;
    margin-right: 10px;
    text-align: justify;
    color: #FFF;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    border-radius: 5px;
    padding: 10px;
    font-size: 20pt;
    margin-bottom: 10px;

}

/*-------------------------------------------------------------------------*/

#main1 {

    background-color: #fff;
    color: #000;
    float: left;
    margin-top: 50px;
    width: 900px;
    height: 850px;
    border: 1px solid black;
    margin-left: 300px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    margin-bottom: 30px;
    box-shadow: 4px 4px 4px black;

}

#ul1 {

    margin-left: 10px;
    text-align: center;
    border-bottom: 10px;

}

#ul2 {

    float: left;
    margin: 20px 10px 10px 20px;

}

/*-------------------------------------------------------------------------*/

.footer2 {

    float: bottom;
    width: 100%;
    height: 100px;
    position: unset;
    background-color: rgb(58, 35, 21)

}

#footer1 {

    position: absolute;
    bottom: 0;
    background-color: rgb(58, 35, 21);
    color: #FFF;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;

}

/*-------------------------------------------------------------------------*/

/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 47%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 80.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 99.5%;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
